# Android Studio
/.idea/*
!/.idea/codeStyles
!/.idea/dictionaries/
!/.idea/runConfigurations/

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/other.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Директория получается в результате Build -> Generate Signed Bundle/APK
app/release

# Не добавлены для примера
# keystore.properties
# *.jks